{% extends '../layouts/base.html' %}

{% block title %}
  Reset Password
{% endblock %}

{% block content %}
<div class="text-white d-flex flex-column align-items-center">
  <h2 class="mb-4">Reset yout Password</h2>
  <form method="POST" action="" class="text-white mx-auto justify-content-center  d-flex flex-column gap-3 align-items-center w-100 w-sm-50">

    {% csrf_token %}

    <div class="form-group w-100">
      <label for="{{ form.new_password1.id_for_label }}">New Password</label>
      <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" placeholder="Enter your new password" required>
    </div>

    <div class="form-group w-100">
      <label for="{{ form.new_password2.id_for_label }}">Confirm new Password</label>
      <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" placeholder="Repeat your new password" required />
    </div>

    <button type="submit" class="btn btn-primary w-100">Change Password</button>

    {% if form.errors %}
    <div class="alert alert-danger mt-3">
      <ul>
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  </form>
</div>
{% endblock %}