{% extends 'layouts/base.html' %}

{% block title %}
  Add Note
{% endblock %}

{% block content %}

<section class="text-white ">

  <div class="d-flex justify-content-between align-items-center text-white my-3">
    <h2 class="m-0">Add the new note:</h2>
  </div>
  
  <form method="post" action="{% url 'add' %}" class="text-white mx-auto d-flex flex-column gap-3 align-items-center">
    {% csrf_token %}
    <div class="form-group w-100">
      {{ form.title }}
    </div>
    <div class="form-group w-100">
      {{ form.body }}
    </div>
    <div class="d-flex justify-content-between w-100">
      <input type="submit" value="Add Note" class="btn btn-primary">
      <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
    </div> 
  </form>
    
</section>
{% endblock %}